* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

/* ini bagian navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; 
  padding: 10px;
  z-index: 1000;
}

.button-navbar {
  margin-right: 20px;
}

.button-navbar button{
  padding: 4px;
  margin-left: 5px;
  background-color: greenyellow;
}

.navbar p {
  color: white;
}

.container {
  margin-top: 40px;
  /* border: 1px solid black; */
  background-color: aliceblue;
}

/* ini bagian login */
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  border: 1px solid black;
  margin: auto;
}

.login-container form {
  border: 1px solid black;
  text-align: center;
  height: 50%;
  width: 50%;
}

.login-container .input-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  width: 50vh;
}

.login-container button {
  padding: 4px;
  background-color: greenyellow;
  margin-top: 20px;
  width: 50vh;
}

.login-container p {
  margin-top: 10px;
}

/* ini bagian registrasi */
.registrasi-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  border: 1px solid black;
  margin: auto;
}

.registrasi-container form {
  border: 1px solid black;
  text-align: center;
  height: 65%;
  width: 50%;
}

.registrasi-container .input-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  width: 50vh;
}

.registrasi-container button {
  padding: 4px;
  background-color: greenyellow;
  margin-top: 20px;
  width: 50vh;
}

.registrasi-container .button-kembali {
  margin-top: 10px;
}